<%# <h1>AaaCore#index</h1>
<p>Find me in app/views/aaa_core/index.html.erb</p>
%>

<article>
  <section id="main">
    <p>
      It does Peterson a disservice to call him "superhuman." It implies his comeback from a torn ACL to produce the second-highest rush yardage total in NFL history was the result of childhood exposure to a red sun, rather than ridiculously hard work. We know one thing: We'll never doubt the guy again. On a Vikings team with precious little passing game, with defenses stacked against him, AP was a hard-cutting, tackle-breaking, broken-field stud and fantasy's clear MVP for '12. What does he do for an encore? With anyone else, you might worry a 388-touch, 2,214-scrimmage-yards season could set him up for a breakdown in '13. But this is Adrian Peterson. He's the first player off every draft board in existence this summer.
    </p>

    <p>
      Worry-warts look at Foster's declining per-carry average over the past three seasons -- from 4.9 to 4.4 to 4.1 -- and fret that even at age 26, heavy workloads are catching up with him. And indeed, his 1,115 offensive touches from '10 to '12 are the NFL's most. However, we look at Foster's touchdowns and feel fine. He's scored 47 times in that span, eight more than any other player. We'll agree that the Texans' offensive line took a step back in '12 and the team's lack of a diverse passing attack hurts Foster. But he's the game's best runner inside the 5, and Ben Tate barely threatened his workload in '12. Foster is as good a combination of high upside and safety as you'll find.
    </p>
  </section>

  <section id="sidebar">
    <p>
      Time to stop worrying Beast Mode is a fluke. All he's done over the past two seasons is finish second in the NFL in total rushing yards and third in rushing TDs while becoming less popular to tackle than advanced calculus. The Seahawks will be a popular pick to make a deep run in '13 as Russell Wilson continues to develop, but Pete Carroll swears he still wants to be a running team. That's great news for Lynch, a dervish who has 13 TDs from inside an opponent's 5 over the past two years. He belongs half-a-peg behind Adrian Peterson and Arian Foster because he regularly gets nicked up, but Lynch has arrived as a surefire top-five pick.
    </p>
  </section>
  
</article>
